.navBar{
    border-radius: 0px 0px 10px 10px;
}

.navBar h1{
    font-family: var(--logo-font);
    font-size: 30px;
    user-select: none;
}

.menuCategories{
    box-shadow: 0px 16px 32px -4px rgba(12, 12, 13, 0.1);
}